-  function cy2en(word){
-    var a = {" ":"_", "Ё":"YO","Й":"I","Ц":"TS","У":"U","К":"K","Е":"E","Н":"N","Г":"G","Ш":"SH","Щ":"SCH","З":"Z","Х":"H","Ъ":"'","ё":"yo","й":"i","ц":"ts","у":"u","к":"k","е":"e","н":"n","г":"g","ш":"sh","щ":"sch","з":"z","х":"h","ъ":"'","Ф":"F","Ы":"I","В":"V","А":"a","П":"P","Р":"R","О":"O","Л":"L","Д":"D","Ж":"ZH","Э":"E","ф":"f","ы":"i","в":"v","а":"a","п":"p","р":"r","о":"o","л":"l","д":"d","ж":"zh","э":"e","Я":"Ya","Ч":"CH","С":"S","М":"M","И":"I","Т":"T","Ь":"'","Б":"B","Ю":"YU","я":"ya","ч":"ch","с":"s","м":"m","и":"i","т":"t","ь":"y","б":"b","ю":"yu"};
-    return word.split('').map(function (char) { 
-    return a[char] || char; 
-    }).join("").toLowerCase();
-    }

//- Tabs
mixin tab-list(tabs,active)
  block content
    ul.nav.nav-tabs(role="tablist")
      each item,index in tabs
        if (index === active)
          li.active
            a(href="#tab_#{cy2en(item)}",role="tab",data-toggle="tab")= item
        else
          li
            a(href="#tab_#{cy2en(item)}",role="tab",data-toggle="tab")= item
    .tab-content
      block

//- Tabs in card
mixin tab-card(tabs2,style,active2)
  - style = style || 'style-default-light' //https://github.com/pugjs/pug/issues/743#issuecomment-7854582
  - direction = direction || 'left'
  - active2 = active2 - 1;
  .card.tabs-left(class='#{style}').no-shadow
    block tabcard
      ul.nav.nav-tabs.card-head.tabs-accent(role="tablist")
        each item2,index in tabs2
          if (index === active2)
            li.active.card-head.tabs-accent
              a(href="#tab_#{cy2en(item2)}",role="tab",data-toggle="tab")= item2
          else
            li
              a(href="#tab_#{cy2en(item2)}",role="tab",data-toggle="tab")= item2
      .tab-content.card-body.style-default-bright
        block


//- Tab pane
mixin tab(id,active)
  if(active)
    .tab-pane.active(id="tab_#{cy2en(id)}")
      block
  else
    .tab-pane(id="tab_#{cy2en(id)}")
      block


