//- list
mixin defList(obj, name, description)
  dl.deflist
    each item in obj
      dt= item[name]
      dd= item[description]


//- scripts
mixin scripts(scripts)
  each src in scripts
    - var isExternalScript = /^(?:https?\:)?\/\//i;
    - src = isExternalScript.test(src) ? src : '/' + src;
    script(src=src)


mixin days_of_the_week(el, start)
  - start = start || "Понедельник"
  - days = ["Воскресенье", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]
  - if (days.indexOf(start) === -1) { start = "Sunday"; }
  - for (var i = days.indexOf(start); i < 7; i++) {
    #{el}= days[i]
  - }
  - for (var i = 0, len = days.indexOf(start); i < len; i++) {
    #{el}= days[i]
  - }




//- Catalog mixins
mixin catalog(items,active)
  -var type = "nav-catalog"
  ul.nav(class="#{type}")
    each item,index in items
      li
        a(href="#{item.href}")= item.text

mixin catalog_badge(items,active)
  -var type = "nav-catalog"
  ul.nav(class="#{type}")
    each item,index in items
      li
        a(href="#{item.href}")= item.text
          span.badge.pull-right= item.count




//- accordion
mixin company--accordion(id)
  .panel-group(id="accordion_#{id}", role="tablist", aria-multiselectable="true")
    block

//- accordion-item
mixin company--accordion-item(type,title,parent,expanded)
  //-var id = title.replace(/\s+/g,"")
  -var id = Math.floor(Math.random()*100000);
  -var exp = expanded ? "" : "collapsed";
  .panel(class="panel-#{type}")
    .panel-heading.card-head.card-head-xs(role="tab", id="heading__#{id}", class="#{exp}" data-toggle="collapse", data-parent="#accordion_#{parent}", href="#collapse_#{id}", aria-expanded="true", aria-controls="collapseOne")
      .tools
        a.btn.btn-icon-toggle
          i.fa.fa-plus
      header.panel-title
        = title

    unless expanded
      .panel-collapse.collapse(id="collapse_#{id}", role="tabpanel", aria-labelledby="heading_#{id}")
        .panel-body
          block
    else
      .panel-collapse.collapse.in(id="collapse_#{id}", role="tabpanel", aria-labelledby="heading_#{id}")
        .panel-body
          block

//- accordion-item-default
mixin company--accordion-item-default(title,parent,expanded)
  +company--accordion-item("default",title,parent,expanded)
    block



//- Pagination mixin
//- ----------------
//- start=# to start pagination at
//- numPages=# links to serve up
//- base=base url before num
//- 
//- Example:
//- +pagination(1,5,2,'#')
//- Yields: | « | 3 | 4 | 5 | 6 | 7 | » |
//- « = /fda/2, 3 = /fda/3, 4 = #, .. 7 = /fda/7, » = /fda/8
mixin pagination(start, numPages, curr, base)
  - start    = start    || 1
  - numPages = numPages || 10
  - curr     = curr     || 1
  - base     = base     || '#' 
  ul.pagination
    - if(curr==1) 
      li.disabled
        a(href='#') «
    - else
      li
        a(href='#') «
    - for(var i=start;i<start+numPages;i++) {
      - if(i==curr)
        li.active
          a(href='#{base}#{i}') #{i}
            span.sr-only (current)
      - else
        li
          a(href='#{base}#{i}') #{i}
    - }
    li
      a(href='#') »



mixin userList(json, format)
  each x, key in json
    - var rnd = Math.floor(Math.random() * (0 - 13) + 13);
    - var pic = '/img/avatar'+rnd+'.jpg';
    li.has-action-left.has-action-right.message-list__users
      a.visible(href='#m#{key}', data-message-id='#{key}', data-type='#{format}')
        .list-action-left
          img.face-radius(src='#{pic}', alt=x['title'])
        .list-content
          span.title=x['title']
          span.caption=x['caption']
        case format
          when 'date'
            .list-action-right
              span.top #{key}/11/2016
                 block
          when 'checkbox'
            .list-action-right
              span.top 
                .checkbox.checkbox-styled.tile-text
                  label
                    input(type='checkbox')
                    //span=item['name']
                      small=item['work']
                 block
          default
            .list-action-right
              span.top default
                 block


        //a.opacity-75(href='#')
      .contain-xs.pull-left=x['desc']
    // end .col

